<!doctype html>
<html ng-app="app">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="http://underscorejs.org/underscore-min.js"></script>
	<script src="game.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" href="display.css" type="text/css" />
</head>
<body>
	<span ng-repeat="slot in cube.flat">{{ slot.id }} </span><br/>
	
	<face ng-repeat="slots in ['slots', 'slots270', 'slots180', 'slots90']">
		<slot ng-repeat="slot in cube.faces[0][slots]">{{ slot.id }}</slot>
	</face>
	<br/>
	<face ng-repeat="i in [2,3,4,5]">
		<slot ng-repeat="slot in cube.faces[i].slots">{{ slot.id }}</slot>
	</face>
	<br/>
	<face ng-repeat="slots in ['slots', 'slots90', 'slots180', 'slots270']">
		<slot ng-repeat="slot in cube.faces[1][slots]">{{ slot.id }}</slot>
	</face>
	<br/>
	<face ng-repeat="i in [4,5]">
		<slot ng-repeat="slot in cube.faces[i].slots180">{{ slot.id }}</slot>
	</face>
	
	<br/>
	<faces ng-repeat="i in [0,1,2,3,4,5]">
		<face><slot ng-repeat="slot in cube.faces[i].up()">{{ slot.id }}</slot></face>
		<br/>
		<face><slot ng-repeat="slot in cube.faces[i].left()">{{ slot.id }}</slot></face>
		<face><slot ng-repeat="slot in cube.faces[i].slots">{{ slot.id }}</slot></face>
		<face><slot ng-repeat="slot in cube.faces[i].right()">{{ slot.id }}</slot></face>
		<br/>
		<face><slot ng-repeat="slot in cube.faces[i].down()">{{ slot.id }}</slot></face>
	</faces>
	
<!-- 	<face ng-style="{width: (52 * 3)+'px'}"> -->
<!-- 		<slot ng-repeat="i in [0,1,2,3,4,5,6,7,8]"></slot> -->
<!-- 	</face> -->
</body>
</html>